body,
html {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
#container > * {
  flex: 1 1 150px;
  margin: 0px;
}

#container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20vh;
  padding: 150px;
}

.info-container {
  display: flex;
  margin-top: 60px;
  margin-left: 40px;
}
.paragraph-container {
  margin-left: 40px;
}
.article-header {
  max-width: 90%;
  color: hsl(217, 19%, 35%);
  font-weight: 700;
  font-size: 3rem;
}
.article-para {
  color: hsl(214, 17%, 51%);
  font-weight: 500;
  font-size: 1.3rem;
}

img {
  max-width: 100%;
  display: block;
}
.text {
  background: #ffffff;
  padding: 15px;
  margin-top: 59px;
}

.avatar {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-top: 20px;
}

.info-credentials-container {
  display: flex;
  flex-direction: column;
  margin-left: 35px;
  margin-top: 10px;
}
.info-credentials-heading {
  color: hsl(214, 17%, 51%);
  font-weight: 500;
  font-size: 1.3rem;
}
.info-credentials-date {
  color: hsl(214, 17%, 51%);
  font-weight: 500;
  font-size: 1rem;
}
.share-icon {
  cursor: pointer;
  margin-left: 40px;
  margin-top: 40px;
  border-radius: 50%;
  display: block;
}
.share-icon:hover {
  width: 40px;
  height: 40px;
}

#banner {
  display: flex;
  position: absolute;
  opacity: 0.9;
  top: 60vh;
  left: 130vh;
  display: none;
  width: 400px;
  height: 100px;
  background-color: hsl(214, 17%, 51%);
  border-radius: 25px;
}

#banner::before {
  position: absolute;
  content: "";
  width: 0px;
  height: 30px;
  top: 100px;
  left: 150px;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid hsl(214, 17%, 51%);
}
#icon-container {
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 50px;
}
.pop-icons {
  width: 30px;
  height: 30px;
}
.icon-share-header {
  font-size: 30px;
  font-family: "Manrope", sans-serif;
  margin-top: 0px;
  color: white;
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .drawers-image {
    width: 400px;
  }
  #banner {
    margin-top: 0px;
    margin-left: 0px;
  }
}

@media only screen and (max-width: 1024px) {
  #banner {
    top: 130vh;
    left: 20vh;
  }
}
